@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro:300,400,700");

$primary: cadetblue;
* {
  font-family: "Source Code Pro", monospace;
  font-weight: 300;
}
h1,
h3,
h5 {
  text-align: center;

  letter-spacing: 3px;
}
body,
html,
#root,
.ingame {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.selectName {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20%;
  > form {
    display: flex;
    width: 80%;
    background-color: $primary;
    height: 2rem;
    input {
      height: 1.5rem;
      text-align: center;
    }
    input:first-of-type {
      flex: 1;
    }
    .submitName {
      background-color: $primary;
      height: 100%;
      color: white;
    }
  }
}

.lobbySelector {
  display: flex;
  flex-direction: column;
  align-items: center;

  button {
    background-color: $primary;
  }
  .lobby {
    display: flex;
    justify-content: space-between;
    width: 95%;
    border: 1px solid $primary;
    padding: 7px 4px;
    font-weight: 400 !important;
    h5 {
      margin: 5px 0px;
    }
    button {
      color: white;
    }
  }
  .newLobby {
    margin: 15px;
    border: 1px solid $primary;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    > input {
      margin: 20px 0px;
    }
  }
}

.ingame {
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    border-bottom: 1px solid black;
    padding-bottom: 20px;
    width: 80%;
  }
  table {
    width: 95%;
    th {
      text-align: start;
      font-weight: 700;
    }
  }
}

.correct {
  background-color: lightgreen;
}
.wrong {
  background-color: lightcoral;
}

.game {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .pad {
    width: 95%;
    display: flex;
    flex-direction: column;

    > div {
      flex: 1;
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;

      i {
        font-size: 150px;
        color: $primary;
        cursor: pointer;
      }
      .guessIcon {
        color: black;
      }
    }
  }
}

@media (min-width: 1025px) {
  #root {
    width: 700px;
  }
}
